services:
  # Nginx 추가
  nginx:
    image: nginx:alpine
    container_name: prism-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf # nginx 설정 파일 주입
    depends_on:
      - frontend
      - backend
    networks:
      - prism-network

  # Backend
  backend:
    container_name: prism-backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    expose:
      - "8080" # 같은 도커 안에서만 열어줌
    env_file:
      - ./backend/.env
    networks:
      - prism-network

  # Frontend
  frontend:
    container_name: prism-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://localhost/api"
    expose:
      - "3000" # 같은 도커 안에서만
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost/api"
    depends_on:
      - backend
    networks:
      - prism-network

# 컨테이너끼리 통신할 전용 네트워크
networks:
  prism-network:
    driver: bridge